@font-face {
    font-family: segoeui;
    src: url('../src/asset/fonts/segoeui/seguisb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: segoeui;
    font-size: 12px;
    color: #666666;
    user-select: none;
}